html{
     background-color: rgb(40, 75, 190);
}
.pai{
     border: 3px solid black;
     border-radius: 70px;
     margin-left: 30vw;
     margin-right: 30vw;
     margin-top: 5vw;
     margin-bottom: 10vw;
     padding: 1vw;
     text-align: center;
     background-color: rgb(135, 164, 226);
}
h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.botao{
     background-color: rgba(68, 0, 255, 0.178);
}
.caixa{
     background-color: rgba(240, 248, 255, 0.76);
}