html{
     background-color: rgb(40, 75, 190);
}
.pai{
     border: 3px solid black;
     border-radius: 70px;
     margin-left: 30vw;
     margin-right: 30vw;
     margin-top: 2vw;
     margin-bottom: 2vw;
     padding: 1vw;
     text-align: center;
     background-color: rgb(135, 164, 226);
     font-size: 1.4vw;
}
footer{
     border: 3px solid black;
     border-radius: 70px;
     margin-left: 30vw;
     margin-right: 30vw;
     padding: 2vw;
     background-color: rgb(135, 164, 226);
     text-align: center;
}
.botao{
     background-color: rgba(68, 0, 255, 0.178);
}
h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
}